<div class="card m-5">
  <p-table
    #dt2
    [value]="expensesService.Expenses()"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-gridlines p-datatable-striped"
    [paginator] = "true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows] ="10"
    [globalFilterFields]="['expense.id', 'expense.name', 'expense.amount', 'expense.category.name' , 'expense.modeOfPayment.name']"
  >

        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th>ModeOfPayment</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-expense>
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.name }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category.name }}</td>
                <td>{{ expense.modeOfPayment.name }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="card flex justify-center items-center mt-5" [formGroup]="ChatForm">
        <input pInputText id="inputp" formControlName="inputPrompt" class="w-1/3" />
        <p-button label="Submit" class="m-2" severity="success" (onClick)="submitPrompt()"/>
</div>

<div class="card mx-40 my-5 bg-blue-950 bg-blend-darken p-5 rounded-md border-e-red-600 border-spacing-4 border-solid">
    <p-scrollPanel [style]="{ width: '100%', height: '250px' }">
        <p>
          <b>Response : </b>
        </p>
    <br>
        <hr>
    <br>
        <markdown
        [data]="response()"
        >
        </markdown>
    </p-scrollPanel>
</div>

<!-- @for (expense of expensesService.Expenses();track expense.id){ -->
<!-- id : {{expense.id}} -->
<!-- amount : {{expense.amount}} -->
<!-- categoryId : {{expense.category.id}} -->
<!-- categoryName : {{expense.category.name}} -->
<!-- {{expense.modeOfPayment.name}} -->
<!-- <br> -->
<!-- } -->

<!-- <p>all-transactions works!</p> -->
<!---->
<!-- <button type="" (click)="loadExpenses()"> load </button> -->
<!-- <br> -->

